.modal-form-wrapper{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100vw;
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
}
// .modal-form-wrapper-active{
//     transform: scale(1);
//     opacity: 1;
//     pointer-events: all;
// }
.modal-form{
    max-width: 560px;
    width: 100%;
    color: #000;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
    padding: 40px 45px;

    p{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 24px;
    }

    @media(max-width: 1200px){
        max-width: 460px;
    }
    @media(max-width: 640px){
        padding: 20px;
    }
    @media(max-width: 560px){
        max-width: 100%;
    }
    @media(max-width: 350px){
        padding: 10px;
    }
}
.modal-title{
    color: #577d66;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 11px;
}

.modal-anim-enter {
    transform: scale(0.8) translateY(300px);
    opacity: 0;
}
.modal-anim-enter-active {
    transform: scale(1);
    opacity: 1;
    transition: all .5s ease;
}
.modal-anim-exit {
    transform: scale(1);
    opacity: 1;
}
.modal-anim-exit-active {
    transform: scale(0.8) translateY(300px);
    opacity: 0;
    transition: all .5s ease;
}